In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [3]:
x = df.drop(['User ID', 'Purchased'], axis=1)
y = df['Purchased']

In [4]:
# ohe- One Hot Encoding

x= pd.get_dummies(x, columns = ['Gender'], drop_first = True)

In [5]:
x

      Age  EstimatedSalary  Gender_Male
0    19.0          19000.0         True
1    35.0          20000.0         True
2    26.0          43000.0        False
3    27.0          57000.0        False
4    19.0          76000.0         True
..    ...              ...          ...
395  46.0          41000.0        False
396  51.0          23000.0         True
397  50.0          20000.0        False
398  36.0          33000.0         True
399  49.0          36000.0        False

[400 rows x 3 columns]

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test, = train_test_split(x_scaled, y, random_state = 42, test_size = 0.2)

In [8]:
from tensorflow.keras import Sequential
from tensorflow.keras import Dense

ModuleNotFoundError: No module named 'tensorflow'

In [17]:
model = Sequential()

NameError: name 'Sequential' is not defined

In [19]:
model.add(Dense(10, activation = 'sigmoid', input_dim = 3))
model.add(Dense(10, activation = 'sigmoid'))

NameError: name 'model' is not defined

In [21]:
model.summary()

NameError: name 'model' is not defined

In [23]:
model.compile(loss = 'binary_crossentropy', optimizer = 'Adam', metrics = ['accuracy'])

NameError: name 'model' is not defined

In [25]:
history = model.fit(x_train, y_train, epochs = 100, validation_split =0.2)

NameError: name 'model' is not defined

In [27]:
model.layers[0].get_weights()

NameError: name 'model' is not defined

In [29]:
# Predict on test

y_log = model.predict(x_test)   # Will give probabilities

NameError: name 'model' is not defined

In [31]:
y_log

NameError: name 'y_log' is not defined

In [33]:
# Convert probability to 0 and 1
# if > 0.5, then 1, else 0

y_pred = np.where(y_log > 0.5, 1, 0)

NameError: name 'y_log' is not defined

In [35]:
from sklearn.metrics import accuracy_score

In [37]:
accuracy_score(y_test, y_pred)

NameError: name 'y_pred' is not defined

In [39]:
history.history

NameError: name 'history' is not defined

In [41]:
plt.plot(history.history['accuracy']);

NameError: name 'history' is not defined