<a href="https://colab.research.google.com/github/ScriptSherpa/AI-and-Ml-journey/blob/main/Naive_Bayes_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
fredericobreno_play_tennis_path = kagglehub.dataset_download('fredericobreno/play-tennis')

print('Data source import complete.')

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/play-tennis/play_tennis.csv

In [ ]:
df = pd.read_csv("/kaggle/input/play-tennis/play_tennis.csv")

In [ ]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [ ]:
df.drop(columns=["day"],inplace=True)

In [ ]:
# Problem 1

# outlook=Sunny ,Temp=Hot ,Humididty=High ,Wind=Weak
# play or not??
# Solution

# p(Yes | Suuny,Hot,High, Weak) = p(Sunny|Yes) * p(Hot|Yes) * p(High|Yes) * p(Weak|Yes) * p(Yes)

# p(No | Suuny,Hot,High, Weak) = p(Sunny|No) * p(Hot|No) * p(High|No) * p(Weak|No) * p(No)

# compare and decide using the maximum a posteriori rule above # Training

# lookup table to store all required probabilities.

# Testing

In [ ]:
# P(yes)
# p(no)
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [ ]:
py =9/14
pn=5/14
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [ ]:
# outlook columns
#pd.crosstab(df["outlook"],df['play'])
pd.crosstab(df["play"],df['outlook'])

outlook  Overcast  Rain  Sunny
play
No              0     2      3
Yes             4     3      2

In [ ]:
# No
pon = 0
prn = 2/5
psn = 3/5

# Yes
poy = 4/9
pry = 3/9
psy= 2/9

In [ ]:
pd.crosstab(df['play'],df['temp'])

temp  Cool  Hot  Mild
play
No       1    2     2
Yes      3    2     4

In [ ]:
# No
pcooln = 1/5
photn = 2/5
pmildn = 2/5

# Yes
pcooly = 3/9
photy = 2/9
pmildy= 4/9

In [ ]:
pd.crosstab(df['play'],df['humidity'])

humidity  High  Normal
play
No           4       1
Yes          3       6

In [ ]:
# No
phighn = 4/5
pnormaln = 1/5

# Yes
phighy = 3/9
pnormaly = 6/9

In [ ]:
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [ ]:
# No
pstrongn = 3/5
pweakn = 2/5

# Yes
pstrongy = 3/9
pweaky = 6/9

In [ ]:
# Now find the probability of yes by the formaula from above

# outlook=Sunny ,Temp=Hot ,Humididty=High ,Wind=Weak

# find for this above

pyes = py * photy * phighy * pweaky
pyes

0.031746031746031744

In [ ]:
# No
pno = pn * photn * phighn * pweakn
pno

0.04571428571428573

In [ ]:
# so we cosider the maximum probability which is no  as output

In [ ]:
# This is how internally naive bayes classifier works.